.payment_div{
  
    display: flex;
    justify-content: center;
    

    h2{
        margin-top: 30px;
    }

    h5{
        margin-top: 30px;
    }

   .bt_submit{
       margin-top: 20px;
   }

 
}
