
.main_itme_card{
    margin-top: 50px;
.item_contentsCard{
    padding:5px;
    min-height: 380px;
  
}
.itmeNameCard{
    text-overflow: ellipsis;
    height: 70px;
    width: 200px;
    overflow: hidden !important;
    text-overflow: ellipsis;

}
.priceCard{
    padding: 10px;
}
}

// 