

table{
    
img{
    height: 50px;
    width: 50px;
}

}
.usersAction_div{
 
   i{
       display: flex;
       align-items: center;
   }

    .action{
        width: 40px;
    }
    .edit{
        border: 1px solid rgb(213, 195, 195);
    }
}