
.create_prod{
    padding-bottom: 10px;
}
.productImg{
    height: 90px;
    width: 90px;
}


i{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.action{
    width: 40px;
}
.edit{
    border: 1px solid rgb(213, 195, 195);
}