.itemsInCart{
    padding: 10px;

 
}

.listItem{
   margin-top: 20px;
}

h5{
    font-size: 13px;
}
.total_ItemPrice{
    font-weight: 900;
    font-size: 13px;
}


.detail_summary{
    display: flex;
  
    width: 70%;
    justify-content: space-between;

}